<html>
<head>
	<title> Booklink </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
				 <img src="/images/booklink_logo.png">
				 <span class="navbar-brand h1">Booklink</span>
				</a>
				<div class="navbar-nav me-auto">
					<a class="nav-link active" href="/">Home</a> 
					<a class="nav-link active" href="/categories">Categories</a>
					<a class="nav-link active" href="/all">Items</a> 
					<a class="nav-link"	href="/aboutus">About Us</a>
				</div>
			</div>
		</nav>
	</header>
		<p> Booklink is a store that sells Books and Stationary </p>
</body>
</html>