<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Booklink - Add new Category</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<main>
			<h1>Add new Category</h1>
			<form action="/categories/save" method="post" th:object="${category}">
				<div class="mb-3 col-5">

					<label for="category_name" class="form-label">Category: </label> <input
						id="category_name" type="text" class="form-control"
						th:field="*{name}" />
				</div>
				<div class="mt-3">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>

		</main>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>




