<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booklink - View Item</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<main>
			<h1 th:text="${item.name}"></h1>
			<h5 th:text="${item.category.name}"></h5>
			<img th:src="@{/uploads/items/{id}/{imageName}(id=${item.id}, imageName=${item.imgName})}" />
			<p th:text="${item.description}"></p>
			<p>$<span th:text="${item.price}"></span></p>
			<p>Quantity available: <span th:text="${item.price}"></span></p>
		</main>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>

